---
---

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Lato');

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8em;
    color: #333;
    margin: 0;
    padding:0;
}

h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight:100;
    font-size: 10vw;
    padding: 0;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #de873a;
    &:hover {
        color: #ae611d;
        text-decoration: underline;
    }
    &:visited {
        color: #ae611d;
    }
}

header, nav, section, footer {
    width: 100%;
}

p, div, ul, h2 {
    max-width: 70rem;
    margin: 1em auto;
}

header {
    padding-top: 2em;
    text-align: center;
    color: #fff;
    background: #abca93;
        & p {
        font-size: 1.2em;
        font-weight: 100;
        font-style: italic;
        margin: 1em auto;
        padding: 1em;
    }
    & a {color: inherit;
        &:hover {
            color:inherit;
            text-decoration: none;
        }
        &:visited {
            color:inherit;
        }
    }
}

#skip-link {
    position:absolute;
    top:-200rem;
}

nav {
    font-size: 0.8em;
    color: #608641;
    margin: 0 auto;
    & a {
        color: inherit;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
        &:visited {
            color:inherit;
        }
    }
    & ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        & li {
            display: inline-block;
            margin: 0 1em;
            &:hover{
                color: #333;
                    &:before {
                        color: #de873a;
                        content: "+ ";
                    }
                }
            & ul {
                color: #608641;
                margin: 0 0 1em 0;
                display: none;
                position: absolute;
                background: #fff;
                & li {
                    display: block;
                    &:hover{
                        color: #333;
                            &:before {
                                color: #de873a;
                                content: "+ ";
                        }
                    }
                }
            }
            &:hover ul {
                display: block;
            }
        }
    }
}

footer {
    background: #abca93;
    color: #fff;
    min-height: 25rem;
    & div {
        max-width:70rem;
        margin: 0 auto;
        & div {
            width: 33%;
            text-align: center;
            float: left;
            margin: 0;
            & ul {
                text-align: left;
            }
        }
    }
    & > p {
        max-width: 70rem;
        float: left;
        text-align: center;
        margin: 2em auto;
    }
    & img {
        margin:0.5em;
    }
}

#images {
    overflow: hidden;
    width: 100vw;
    max-width: 70rem;
    margin: 0 auto;
    & div {
        width: 700vw;
        max-width: 490rem;
        -webkit-animation: slide 30s ease infinite;
    }
    & img {
        float: left;
        width: 100vw;
        max-width: 70rem;
    }
}

#news {
    overflow: hidden;
    width: 100vw;
    max-width: 70rem;
    margin: 0 auto;
    & > div {
        width: 200vw;
        max-width: 140rem;
        -webkit-animation: slide 18s ease infinite;
        & > div {
            float: left;
            width: 100vw;
            max-width: 70rem;
        }
    }
}

@-webkit-keyframes slide {
    8% {margin-left: 0;}
    16% {margin-left: -100%;}
    24% {margin-left: -100%;}
    32% {margin-left: -200%;}
    40% {margin-left: -200%;}
    48% {margin-left: -300%;}
    56% {margin-left: -300%;}
    64% {margin-left: -400%;}
    72% {margin-left: -400%;}
    80% {margin-left: -500%;}
    88% {margin-left: -500%;}
    96% {margin-left: -600%;}
}

section img {
    max-width: 40%;
    float: left;
    margin-right: 4rem;
    &:nth-of-type(2n) {
        float:right;
    }
}

footer ul {
    list-style-type: none;
}

#facebook:before {
    content:url('{{ site.url }}{{ site.baseurl }}/images/facebook.png')
}

#tripadvisor:before {
    content:url('{{ site.url }}{{ site.baseurl }}/images/tripadvisor.png')
}

#youtube:before {
    content:url('{{ site.url }}{{ site.baseurl }}/images/youtube.png')
}