---
---

{% assign imagenumber = site.collections.first.files | size %}
{% assign newsnumber = site.posts | size %}
{% assign imageslides = imagenumber | plus:1 %}
{% assign newsslides = newsnumber | plus:1 %}

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Lato');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.15rem;
    line-height: 1.7em;
    color: #333;
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Trajan Pro Sans', 'Alegreya Sans SC', sans-serif;
    font-weight:100;
    font-size: 10vw;
    padding: 0;
    margin: 0 auto;
}

hr {
    width: 90%;
    max-width:70rem;
    color: #efefef;
    height: 1px;
    clear:both;
}

a {
    text-decoration: none;
    color: #de873a;
    &:hover {
        color: #ae611d;
        text-decoration: underline;
    }
    &:visited {
        color: #ae611d;
    }
}

header, nav, section, footer {
    width: 100%;
}

h2, h3 {
    font-weight: normal;
    clear:both;
}

p, div, ul, h2, h3 {
    max-width: 70rem;
    margin: 1em auto;
}

section p img {
    max-width: 40%;
    float: right;
    margin: 1rem;
    &:nth-of-type(2n) {
        float:left;
        margin-right: 4rem;
    }
}

blockquote {
    box-sizing: border-box;
    background-color: #a8d5e2;
    width: 100%;
    margin: 0;
    padding: 1em;
    & em {
        display: block;
        text-align: right;
    }
}

header {
    padding-top: 2em;
    text-align: center;
    color: #fff;
    background: #abca93;
    order: 1;
        & p {
        font-size: 1.2em;
        font-weight: 100;
        font-style: italic;
        margin: 1em auto;
        padding: 1em;
    }
    & a {color: inherit;
        &:hover {
            color:inherit;
            text-decoration: none;
        }
        &:visited {
            color:inherit;
        }
    }
}

nav {
    font-size: 0.8em;
    color: #608641;
    margin: 0 auto;
    order: 2;
    & a {
        color: inherit;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
        &:visited {
            color:inherit;
        }
    }
    & ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        & li {
            display: inline-block;
            margin: 0 1em;
            &:hover{
                color: #333;
                }
            & ul {
                color: #608641;
                margin: 0 0 1em 0;
                display: none;
                position: absolute;
                background: #fff;
                & li {
                    display: block;
                    &:hover{
                        color: #333;
                            &:before {
                                position: absolute;
                                left: 0.25em;
                                color: #de873a;
                                content: "+";
                        }
                    }
                }
            }
            &:hover ul {
                display: block;
            }
        }
    }
}

footer {
    background: #abca93;
    color: #fff;
    padding-top: 2em;
    order: 7;
    & > div {
        max-width:70rem;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        & div {
            width: 20rem;
            text-align: center;
            margin: 0;
            & ul {
                text-align: left;
                list-style-type: none;
                & img {
                    position: relative;
                    top: 20px;
                }
            }
        }
    }
    & > p {
        max-width: 70rem;
        text-align: center;
        padding: 2em;
        margin: 0 auto;
        clear:both;
    }
    & img {
        margin:0.5em;
    }
    & a {color: inherit;
        &:hover {
            color:inherit;
            text-decoration: none;
        }
        &:visited {
            color:inherit;
        }
    }
}

#skip-link {
    position:absolute;
    top:-200rem;
}

#images {
    overflow: hidden;
    width: 100vw;
    max-width: 70rem;
    margin: 0 auto;
    order: 3;
    & div {
        width: {{ imageslides }}*100vw;
        max-width: {{ imageslides }}*70rem;
        -webkit-animation: imageslide {{ imagenumber }}*12s ease infinite;
    }
    & img {
        float: left;
        width: 100vw;
        max-width: 70rem;
    }
}

#main-content {
    order: 4;
}

#news {
    background-color: #eee;
    order: 5;
    & > div {
        overflow: hidden;
        width: 100vw;
        max-width: 60rem;
        margin: 0 auto;
        & > div {
            width: {{ newsslides }}*100vw;
            max-width: {{ newsslides }}*60rem;
            -webkit-animation: newsslide {{ newsnumber }}*12s ease infinite;
            & > div {
                float: left;
                width: 100vw;
                max-width: 60rem;
            }
        }
    }
}

@-webkit-keyframes newsslide {
{% for i in (1..newsnumber) %}
    {{ i | minus:0.5 | times: 100 | divided_by:newsnumber }}% {margin-left:-{{ i | minus:1 | times: 100 }}%;}
    {{ i | times: 100 | divided_by:newsnumber }}% {margin-left: -{{ i | times: 100}}%;}
{% endfor %}
}
@-webkit-keyframes imageslide {
{% for i in (1..imagenumber) %}
    {{ i | minus:0.2 | times: 100 | divided_by:imagenumber }}% {margin-left:-{{ i | minus:1 | times: 100 }}%;}
    {{ i | times: 100 | divided_by:imagenumber }}% {margin-left: -{{ i | times: 100}}%;}
{% endfor %}
}

@media only screen and (max-width: 70em) {
    nav, #main-content, #news, footer {
        padding: 0 1em;
    }
    nav {
        order: 6;
        & ul li {
        display: block;
        font-weight: 600;
            & ul {
                display: block;
                position: inherit;
                & li {
                    font-weight: 400;
                }
            }
        }
    }
    section p img {
        max-width: 100%;
    }
}