<div class="fullgrey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="topphoto">
            <div class="region region-topphoto">
    <section id="block-views-banner-block" class="block block-views first last odd clearfix">

      
  <div class="view view-banner view-id-banner view-display-id-block view-dom-id-95575db5803d970c891060ac80c6fbd6">
        
  
  
      <div class="view-content">
      
<div id="views-bootstrap-carousel-1" class="views-bootstrap-carousel-plugin-style carousel slide"  data-ride="carousel">
  
  <!-- Carousel items -->
  <div class="carousel-inner">
          <div class="item active">
          
  <div class="views-field views-field-field-banner-images">        <div class="field-content"><img typeof="foaf:Image" class="img-responsive" src="http://www.colonsay.org.uk/sites/default/files/styles/banner/public/Kiloran%20Bay%2C%20Colonsay%20%28COLO%201110%29.jpg?itok=wLD_Ej3E" width="1140" height="430" /></div>  </div>      </div>
          <div class="item ">
          
  <div class="views-field views-field-field-banner-images">        <div class="field-content"><img typeof="foaf:Image" class="img-responsive" src="http://www.colonsay.org.uk/sites/default/files/styles/banner/public/Baleromindubh%20Panorama%20%28COLO%201482-1483%29.jpg?itok=ZyYuZs9u" width="1140" height="430" /></div>  </div>      </div>
          <div class="item ">
          
  <div class="views-field views-field-field-banner-images">        <div class="field-content"><img typeof="foaf:Image" class="img-responsive" src="http://www.colonsay.org.uk/sites/default/files/styles/banner/public/Highland%20Cattle%20relaxing%20in%20the%20June%20sunshine%20%28COLO%202106%29.jpg?itok=M4leqavs" width="1140" height="430" /></div>  </div>      </div>
          <div class="item ">
          
  <div class="views-field views-field-field-banner-images">        <div class="field-content"><img typeof="foaf:Image" class="img-responsive" src="http://www.colonsay.org.uk/sites/default/files/styles/banner/public/Azaleas%20in%20Colonsay%20House%20Gardens%2C%20Colonsay%20%28COLO%200768%29.jpg?itok=AjluaKD8" width="1140" height="430" /></div>  </div>      </div>
          <div class="item ">
          
  <div class="views-field views-field-field-banner-images">        <div class="field-content"><img typeof="foaf:Image" class="img-responsive" src="http://www.colonsay.org.uk/sites/default/files/styles/banner/public/Visitors%20enjoying%20Kiloran%20Bay%2C%20Colonsay%20%28COLO%201171%29.jpg?itok=SizdXIHu" width="1140" height="430" /></div>  </div>      </div>
          <div class="item ">
          
  <div class="views-field views-field-field-banner-images">        <div class="field-content"><img typeof="foaf:Image" class="img-responsive" src="http://www.colonsay.org.uk/sites/default/files/styles/banner/public/Cowrie%20shell%20and%20others%2C%20Plaide%20Mor%20beach%2C%20Ardskenish%20%28COLO%201842%29.jpg?itok=xr06MbPR" width="1140" height="430" /></div>  </div>      </div>
      </div>

  </div>
    </div>
  
  
  
  
  
  
</div>
</section>
  </div>
        </div>
      </div>
    </div>
  </div>
</div>