<div id="images">
    <div class='wrapper'>
        <img src="{{ site.url }}{{ site.baseurl }}/images/KiloranBayColonsay.jpg" />
        <img src="{{ site.url }}{{ site.baseurl }}/images/BaleromindubhPanorama.jpg" />
        <img src="{{ site.url }}{{ site.baseurl }}/images/HighlandCattleRelaxingInTheJuneSunshine.jpg" />
        <img src="{{ site.url }}{{ site.baseurl }}/images/AzaleasInColonsayHouseGardens.jpg" />
        <img src="{{ site.url }}{{ site.baseurl }}/images/VisitorsEnjoyingKiloranBay.jpg" />
        <img src="{{ site.url }}{{ site.baseurl }}/images/CowrieShellsAndOthers.jpg" />
    </div>
</div>