<footer>
    <div>
        <div>
            <p><a href="http://corncrake.org.uk"><img src="{{ site.url }}{{ site.baseurl }}/images/corncrake.png" /></a></p>
            <p><a href="https://www.ruralnetwork.scot/funding/leader"><img src="{{ site.url }}{{ site.baseurl }}/images/leader.png" /></a> <a href="http://www.hie.co.uk"><img src="{{ site.url }}{{ site.baseurl }}/images/hie.png" /></a></p>
        </div> 
        <div>
            <p>Find us on:</p>
            <ul>
                <li id="tripadvisor"><a href="https://www.tripadvisor.co.uk/Tourism-g562664-Isle_of_Colonsay_The_Hebrides_Scotland-Vacations.html">TripAdvisor &raquo;</a></li>
                <li id="facebook"><a href="http://www.facebook.com/pages/Friends-of-Colonsay/155213141193434">Facebook &raquo;</a></li>
                <li id="youtube"><a href="https://www.youtube.com/results?search_query=colonsay">Youtube &raquo;</a></li>
            </ul>
        </div> 
        <div>
            <p>Banner photos &copy; Ruari Cumming ARPS:<br /><a href="http://www.hebridean-island-images.com">www.Hebridean-Island-Images.com</a></p>
        </div>
    </div>
    <p>&copy; 2018 Colonsay Community Development Company - <a href="{{ site.url }}{{ site.baseurl }}/island/about-us">Contact Us</a></p>
</footer>