        <footer class="footer container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="region region-footer">
                        <section id="block-block-1" class="block block-block first last odd clearfix">
                            <div class="row">
                                <div class="col-sm-4 footerleft">
                                    <p><a href="http://corncrake.org.uk"><img src="{{ site.url }}{{ site.baseurl }}/images/corncrake.png" /></a></p>
                                    <p><a href="https://www.ruralnetwork.scot/funding/leader"><img src="{{ site.url }}{{ site.baseurl }}/images/leader.png" /></a> <a href="http://www.hie.co.uk"><img src="{{ site.url }}{{ site.baseurl }}/images/hie.png" /></a></p>
                                </div> 
                                <div class="col-sm-4 footermid">
                                    <p>Find us on:</p>
                                    <ul>
                                        <li class="tripadvisor"><a href="https://www.tripadvisor.co.uk/Tourism-g562664-Isle_of_Colonsay_The_Hebrides_Scotland-Vacations.html">TripAdvisor &raquo;</a></li>
                                        <li class="facebook"><a href="http://www.facebook.com/pages/Friends-of-Colonsay/155213141193434">Facebook &raquo;</a></li>
                                        <li class="youtube"><a href="https://www.youtube.com/results?search_query=colonsay">Youtube &raquo;</a></li>
                                    </ul>
                                </div> 
                                <div class="col-sm-4 footerright">
                                    <p>Banner photos &copy; Ruari Cumming ARPS:<br /><a href="http://www.hebridean-island-images.com">www.Hebridean-Island-Images.com</a></p>
                                    <div class="footerbutton">
                                    <a href="{{ site.url }}{{ site.baseurl }}/newsletter"><button type="button" class="btn btn-default btn-newsletter">Sign up to our Newsletter</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 footerlower">
                                    &copy; 2018 Colonsay Community Development Company - <a href="{{ site.url }}{{ site.baseurl }}/island/about-us">Contact Us</a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </footer>