<div id="navbar" role="banner" class="container navbar-default header">
<div class="row">
  <div class="col-sm-12">

    <div class="navbar-header">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

          <div class="navbar-collapse collapse">
        <nav role="navigation">

            
      <ul class="menu nav navbar-nav"><li class="first leaf active-trail active menu-mlid-218 active"><a href="/" class="active-trail active">Home</a></li>
<li class="expanded menu-mlid-1551 dropdown"><span title="" data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">The Island</span><ul class="dropdown-menu"><li class="first leaf menu-mlid-1558"><a href="/island/about-colonsay">About Colonsay</a></li>
<li class="last leaf menu-mlid-1559"><a href="/island/about-us">About Us</a></li>
</ul></li>
<li class="expanded menu-mlid-1552 dropdown"><span title="" data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Our Community</span><ul class="dropdown-menu"><li class="first leaf menu-mlid-1562"><a href="/our-community/community-development-company">Community Development Company</a></li>
<li class="leaf menu-mlid-1561"><a href="/our-community/community-council">Community Council</a></li>
<li class="leaf menu-mlid-1566"><a href="/our-community/community-amenities">Community Amenities</a></li>
<li class="leaf menu-mlid-1563"><a href="/our-community/crofting-projects">Crofting Projects</a></li>
<li class="leaf menu-mlid-1565"><a href="/our-community/colonsay-and-oransay-heritage-trust">Colonsay and Oransay Heritage Trust</a></li>
<li class="leaf menu-mlid-1646"><a href="/our-community/post-office">The Post Office</a></li>
<li class="last leaf menu-mlid-1647"><a href="/our-community/colonsay-church">Colonsay Church</a></li>
</ul></li>
<li class="leaf menu-mlid-1497"><a href="/accommodation.html">Accommodation</a></li>
<li class="expanded menu-mlid-1553 dropdown"><span title="" data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Things to do</span><ul class="dropdown-menu"><li class="first leaf menu-mlid-1671"><a href="/things-do/whats">What&#039;s On?</a></li>
<li class="leaf menu-mlid-1648"><a href="/things-do/wildlife-watching">Wildlife Watching</a></li>
<li class="leaf menu-mlid-1625"><a href="/things-do/beaches">Beaches</a></li>
<li class="leaf menu-mlid-1629"><a href="/things-do/flying-visits">Flying Visits</a></li>
<li class="leaf menu-mlid-1634"><a href="/things-do/tours-walks">Tours &amp; Walks</a></li>
<li class="leaf menu-mlid-1632"><a href="/things-do/macphie-bagging">MacPhie Bagging</a></li>
<li class="leaf menu-mlid-1630"><a href="/things-do/golf">Golf</a></li>
<li class="leaf menu-mlid-1645"><a href="/things-do/archies-bike-hire">Archie&#039;s Bike Hire</a></li>
<li class="leaf menu-mlid-1631"><a href="/things-do/beekeeping-courses">Beekeeping Courses</a></li>
<li class="leaf menu-mlid-1626"><a href="/things-do/boat-trips">Boat Trips</a></li>
<li class="leaf menu-mlid-1627"><a href="/things-do/colonsay-house-gardens">Colonsay House Gardens</a></li>
<li class="leaf menu-mlid-1633"><a href="/things-do/oransay">Oransay</a></li>
<li class="leaf menu-mlid-1628"><a href="/things-do/fishing">Fishing</a></li>
<li class="last leaf menu-mlid-1568"><a href="/things-do/other-things-do">Other things to do</a></li>
</ul></li>
<li class="expanded menu-mlid-1554 dropdown"><span title="" data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Shops &amp; Food</span><ul class="dropdown-menu"><li class="first leaf menu-mlid-1639"><a href="/shops-food/colonsay-brewery">Colonsay Brewery</a></li>
<li class="leaf menu-mlid-1635"><a href="/shops-food/colonsay-general-store">Colonsay General Store</a></li>
<li class="leaf menu-mlid-1640"><a href="/shops-food/colonsay-honey">Colonsay Honey</a></li>
<li class="leaf menu-mlid-1636"><a href="/shops-food/gardens-café">Gardens Café</a></li>
<li class="leaf menu-mlid-1641"><a href="/shops-food/house-lochar">House of Lochar</a></li>
<li class="leaf menu-mlid-1637"><a href="/shops-food/bookshop">The Bookshop</a></li>
<li class="last leaf menu-mlid-1638"><a href="/shops-food/pantry">The Pantry</a></li>
</ul></li>
<li class="expanded menu-mlid-1555 dropdown"><span title="" data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Events &amp; Festivals</span><ul class="dropdown-menu"><li class="first leaf menu-mlid-1642"><a href="/events-festivals/ceòl-cholasa">Ceòl Cholasa</a></li>
<li class="leaf menu-mlid-1643"><a href="/events-festivals/colonsay-book-festival">Colonsay Book Festival</a></li>
<li class="last leaf menu-mlid-1644"><a href="/events-festivals/festival-spring">Festival of Spring</a></li>
</ul></li>
<li class="expanded menu-mlid-1556 dropdown"><span title="" data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">History</span><ul class="dropdown-menu"><li class="first leaf menu-mlid-1569"><a href="/history/areas-interest">Areas of Interest</a></li>
<li class="leaf menu-mlid-1570"><a href="/history/arandora-star">Arandora Star</a></li>
<li class="leaf menu-mlid-1571"><a href="/history/colonsay-family-history">Colonsay family history</a></li>
<li class="last leaf menu-mlid-1572"><a href="/history/geology">Geology</a></li>
</ul></li>
<li class="last expanded menu-mlid-1573 dropdown"><span title="" data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Weather, Tides &amp; Travel</span><ul class="dropdown-menu"><li class="first last leaf menu-mlid-1670"><a href="/weather-tides-travel/weather-tides-travel">Weather, Tides &amp; Travel</a></li>
</ul></li>
</ul>

        </nav>
      </div>
    
  </div>
</div>
</div>