<div id="navbar" role="banner" class="container navbar-default header">
<div class="row">
  <div class="col-sm-12">

    <div class="navbar-header">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

          <div class="navbar-collapse collapse">
        <nav role="navigation">

            
      <ul class="menu nav navbar-nav">
        <li class="leaf"><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
        <li class="leaf"><a href="{{ site.url }}{{ site.baseurl}}/accommodation.html">Accommodation</a></li>  
        
            {% assign pages = site.pages | group_by: 'category' | sort: 'name' %}
            {% for cat in pages %}
                {% if cat.name != '' %}
        <li class="expanded dropdown"><span title="" data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">{{ cat.name }}</span>
                <ul class="dropdown-menu">
                  {% assign items = cat.items %}
                  {%- for item in items -%}
                    <li class="leaf"><a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
                  {% endfor %}
            </ul></li>
                {% endif %}
            {% endfor %}
</ul>

        </nav>
      </div>
    
  </div>
</div>
</div>