---
---

<!DOCTYPE html> 
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/colonsay.png" />
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}" />
    
    <script src="//use.typekit.net/xzl7twq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
   
    {% if page.title == "Accomodation" %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
    <script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js"></script>
    {% endif %}
    
    <title>{% if page.title %}{{ page.title }} | {% endif %}Isle Of Colonsay</title>
</head>
<body>
    <div id="skip-link">
        <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
    <header id="navbar" role="banner" class="container header">
        <h1><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a></h1>
        <p><a href="{{ site.baseurl }}/" title="Home">{{ site.description }}</a></p>
    </header>

    <nav role="navigation">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.url }}{{ site.baseurl}}/accommodation.html">Accommodation</a></li>  
            {% assign pages = site.pages | group_by: 'category' | sort: 'name' %}
            {% for cat in pages %}
                {% if cat.name != '' %}
            <li>{{ cat.name }}
                <ul>
                  {% assign items = cat.items %}
                  {%- for item in items -%}
                    <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
                  {% endfor %}
                </ul>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <section id="images">
        <div class='wrapper'>
                {% for image in site.collections.first.files %}
            <img src="{{ image.path | remove: '_' | absolute_url }}" /> 
                {% endfor %}
            <img src="{{ site.collections.first.files.first.path | remove: '_' | absolute_url }}" />
        </div>
    </section>

    <section id="main-content">
        <h2>{{ page.title }}</h2>
        {% if page.title %}
        <hr />
        {% endif %}
        {% if page.title == "Accomodation" %}
        <p>Colonsay offers a wide variety of options for accommodation. Browse the map, or find a full listing below.</p>
        <div id="mapid" style="height:70vh;"></div>
        {% endif %}
        {{ content | markdownify }}
    </section>

    <section id="news">
        <div>
        <h2>Latest News</h2>
            <div>
            {% for post in site.posts reversed %}
                <div>     
                    <strong> {{ post.date | date_to_long_string }} - {{ post.time }}</strong>
                    <p>{{ post.title }} {{ post.place }}</p>
                    {{ post.content }}
                </div>
            {% endfor %}
                <div>     
                    <strong> {{ site.posts.last.date | date_to_long_string }} - {{ site.posts.last.time }}</strong>
                    <p>{{ site.posts.last.title }} {{ site.posts.last.place }}</p>
                    {{ site.posts.last.content }}
                </div>
        </div>
        </div>
    </section>

    <footer>
        <div>
            <div>
                <p><a href="http://corncrake.org.uk"><img src="{{ site.baseurl }}/images/corncrake.png" /></a></p>
                <p><a href="https://www.ruralnetwork.scot/funding/leader"><img src="{{ site.baseurl }}/images/leader.png" /></a> <a href="http://www.hie.co.uk"><img src="{{ site.baseurl }}/images/hie.png" /></a></p>
            </div> 
            <div>
                <p>Find us on:</p>
                <ul>
                    <li><img src="{{ site.baseurl }}/images/tripadvisor.png" /><a href="https://www.tripadvisor.co.uk/Tourism-g562664-Isle_of_Colonsay_The_Hebrides_Scotland-Vacations.html">TripAdvisor</a></li>
                    <li><img src="{{ site.baseurl }}/images/facebook.png" /><a href="http://www.facebook.com/pages/Friends-of-Colonsay/155213141193434">Facebook</a></li>
                    <li><img src="{{ site.baseurl }}/images/youtube.png" /><a href="https://www.youtube.com/results?search_query=colonsay">Youtube</a></li>
                </ul>
            </div> 
            <div>
                <p>Banner photos &copy; Ruari Cumming ARPS:<br /><a href="http://www.hebridean-island-images.com">www.Hebridean-Island-Images.com</a></p>
            </div>
        </div>
        <p>&copy; 2018 Colonsay Community Development Company - <a href="{{ site.baseurl }}/island/about-us">Contact Us</a></p>
    </footer>

    {% if page.title == "Accomodation" %}
    <script>
        var layer = new L.StamenTileLayer("watercolor");
        var map = new L.Map("mapid", {
            center: new L.LatLng(56.05, -6.21),
            zoom: 11
        });
        map.addLayer(layer);
        {%- for place in site.places -%}
        var {{ place.title | slugify | remove: "4" | remove: "-" }} = L.marker([{{ place.coord }}]).addTo(map);
        {{ place.title | slugify | remove: "4" | remove: "-" }}.bindPopup("<p>{{ place.title }} <br /><a href='#{{ place.title | slugify | remove: "-" }}'>Click for details</a></p>");
        {% endfor %}
    </script>
    {% endif %}

</body>
</html>